body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: start;
}
header {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}
#cy {
    width: 90%; /* 默认宽度 */
    /*max-width: 1200px; /* 最大宽度 */
    margin: 20px auto; /* 上下间距和居中 */
    height: 70vh;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
 
#info {
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}
.search-box {
    position: fixed;
    top: 20px;
    left: 20px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto; /* Adjust based on content */
}
.search-box input,
.search-box select,
.search-box button {
    margin: 5px 0;
    padding: 8px;
    width: auto; /* Allow default Bootstrap width */
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}
.search-box button {
    background-color: #4CAF50; /* A green background */
    color: white; /* White text color */
    border: none; /* No borders */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer/hand icon */
    font-size: 14px; /* Slightly smaller font size */
}
.search-box button:hover {
    background-color: #45a049; /* Darker green background on hover */
}
.search-box select {
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Rounded corners */
}